@media (max-width: 1000px) {
  .content {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 140px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .header-left ul {
  	display: none;
  }

  .header-right {
    display: none;
  }

  .menu-icon-display {
    display: block;
  }
}

@media (max-width: 670px) {
  .content {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }

  .btn {
    width: 50%;
  }

  .top-wrapper {
    text-align: left;
    padding-top: 130px;
  }

  .top-wrapper h1 {
    font-size: 100px;
  }

  .top-wrapper h2 {
    font-size: 14px;
  }

  .header-left ul {
  	display: none;
  }

  .header-right {
    display: none;
  }

  .menu-icon-display {
    display: block;
  }

  .bottom-wrapper p {
  	font-size: 14px;
  }

  input, textarea {
  	width: 100%;
  }
}
