* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Meiryo UI";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left ul {
  float: left;
  margin: 0 20px;
}

.header-left li {
  list-style: none;
  float: left;
  padding: 0 30px;
}

.header-left a {
  line-height: 65px;
  font-size: 20px;
  font-weight: bold;
  color: #808080;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
}

.logo {
  float: left;
  height: 45px;
  margin-top: 10px;
}

.btn {
  margin: 0 8px;
  display: inline-block;
  opacity: 0.7;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 1;
}

.menu-icon-display {
  display: none;
}

.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 0;
}

.login {
  color: white;
  font-weight: bold;
  font-size: 22px;
  background-color: rgba(0,0,0,0.3);
  padding: 0 25px;
  margin-left: 20px;
}

.top-wrapper {
  padding: 100px 0 100px 0;
  background-image: url(./img/background_img_1.png);
  background-size: cover;
  font-family: "Times New Roman";
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  margin: 80px 0 5px 0;
  opacity: 0.55;
  font-size: 200px;
  letter-spacing: 5px;
}

.top-wrapper h2 {
  margin-top: 5px;
  opacity: 0.55;
  font-size: 20px;
  letter-spacing: 2px;
}

.middle-wrapper {
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding: 40px 0 30px 0;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.content {
  float: left;
  width: 33%;
}

.content-icon {
  position: relative;
}

.content-icon p {
  position: absolute;
  top: 60px;
  width: 100%;
  font-size: 25px;
  color: white;
}

.txt-contents {
  width: 70%;
  height: 70px;
  display: inline-block;
  margin: 20px;
  font-size: 14px;
  color: #b3aeb5;
  text-align: left;
}

.message {
  background-color: #A9A9A9;
  padding: 15px 40px;
  border-radius: 5px; 
  color: white;
  box-shadow: 2px 3px #808080;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 3px;
  left: 2px;
}

.bottom-wrapper {
  border-bottom: 1px solid #eee;
  padding: 40px 0 80px 0;
  text-align: center;
  background-color: #f7f7f7;
}

.bottom-wrapper p {
  color: #b3aeb5;
}

input, textarea {
  width: 400px;
  margin: 10px 0 30px 0;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
  padding: 20px;
}

footer {
  padding-top: 30px;
}

footer img {
  height: 40px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
